* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 105%;
}

.content {
    text-align: center;
}

h1 {
    color: darkslategray;
    font-size: 2.4rem;
}

h2 {
    color: darkslateblue;
    font-size: 1.6rem;
    margin-top: 2rem;
}